.resertimg2 {
  margin: 0px auto;
  display: block;
}
.resetpassword3 h1 {
  text-align: center;
  font-weight: 800px;
}
.resetpassword3 p {
  max-width: 577px;
  font-size: 17px;
  color: #0f0f0f80;
  text-align: center;
  margin: 0 auto;
}
.resetpasswordstd input {
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  display: block;
  padding: 20px;
  outline: none;
  border: 1px solid #000000;
  background-color: transparent;
  margin-top: 20px;
  width: 400px;
}
.resetpasswordstd p {
  text-align: center;
  /* margin-top: 10px; */
  font-size: 17px;
  color: #00000080;
}
.cterbuttonforgotpass {
  width: 45%;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  display: block;
  margin-top: 20px;
  background-color: black;
}
/* Input Field Styling */
.password-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Eye Icon Styling */
  .password-icon {
    position: relative;
    cursor: pointer;
    top: -41px;
    right: -68%;
    font-size: 18px;
    color: #555;
    display: inline-block;
  }
  
  .forgot-password {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  

  
 
  